# **Ejercicios de pair programming Módulo 2 Sprint 1**
## **Estadística: Lección 1**
### **Introducción**

---

In [1]:
import numpy as np
import pandas as pd

1. Buscar un conjunto de datos a analizar:
 - Se recomienda que el conjunto de datos a analizar tenga variables numéricas y categóricas. Ya que también se analizarán.

In [2]:
games = pd.read_csv("data/games.csv", index_col=0)
games

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,Back to the Future: The Game,"Dec 22, 2010",['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Click']",Back to the Future: The Game is one of Telltal...,['Very enjoyable game. The story adds onto the...,763,5,223,67
1508,Team Sonic Racing,"May 21, 2019","['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",Team Sonic Racing combines the best elements o...,"['jogo morto mas bom', 'not my cup of tea', ""C...",1.5K,49,413,107
1509,Dragon's Dogma,"May 22, 2012",['Capcom'],3.7,210,210,"['Brawler', 'RPG']","Set in a huge open world, Dragon’s Dogma: Dark...","['Underrated.', 'A grandes rasgos, es como un ...",1.1K,45,487,206
1510,Baldur's Gate 3,"Oct 06, 2020",['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...","An ancient evil has returned to Baldur's Gate,...",['Bu türe bu oyunla girmeye çalışmak hataydı s...,269,79,388,602
1511,The LEGO Movie Videogame,"Feb 04, 2014","['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",Join Emmet and an unlikely group of resistance...,"['Legal', 'Pretty Average Lego Game But It Was...",1.7K,11,239,73

In [3]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1512 entries, 0 to 1511
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1512 non-null   object
 1   Release Date       1512 non-null   object
 2   Team               1511 non-null   object
 3   Rating             1499 non-null   float64
 4   Times Listed       1512 non-null   object
 5   Number of Reviews  1512 non-null   object
 6   Genres             1512 non-null   object
 7   Summary            1511 non-null   object
 8   Reviews            1512 non-null   object
 9   Plays              1512 non-null   object
 10  Playing            1512 non-null   object
 11  Backlogs           1512 non-null   object
 12  Wishlist           1512 non-null   object
dtypes: float64(1), object(12)
memory usage: 165.4+ KB

Tenemos pocas columnas numéricas. Vamos a transformar a columnas numéricas Times Listed, Number of Reviews, Plays, Playing, Backlogs,	Wishlist

In [4]:
def limpieza(col):
    if "K" in col:
        return (col.replace("K","000").replace(".", ""))
    else:
        return col

In [5]:
games["Times Listed"] = games["Times Listed"].apply(limpieza)
games["Number of Reviews"] = games["Number of Reviews"].apply(limpieza)
games["Plays"] = games["Plays"].apply(limpieza)
games["Playing"] = games["Playing"].apply(limpieza)
games["Backlogs"] = games["Backlogs"].apply(limpieza)
games["Wishlist"] = games["Wishlist"].apply(limpieza)

In [6]:
games = games.astype({"Times Listed": int, "Number of Reviews": int, "Plays": int, "Playing": int, "Backlogs": int, "Wishlist":int})
print(games.dtypes)

Title                 object
Release Date          object
Team                  object
Rating               float64
Times Listed           int64
Number of Reviews      int64
Genres                object
Summary               object
Reviews               object
Plays                  int64
Playing                int64
Backlogs               int64
Wishlist               int64
dtype: object

In [7]:
games.head(1)

,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,39000,39000,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,38000,46000,48000

2. Extraer los siguentes estadísiticos del conjunto de datos para varias de las variables disponibles:
- Media
- Desviación con respecto de la media
- Varianza
- Desviación típica
- Moda
- Mediana
- Media ponderada
- Robustez
- Coeficiente de variación

In [8]:
def descripcion(col):

    print(f"La media de la columna {col} es", games[col].mean())
    print(f"La desviación con respecto a la media de la columna {col} es: ", np.abs(games[col] - games[col].mean()))
    print(f"La varianza de la columna {col} es", games[col].var())
    print(f"La desviación estándar de la columna {col} es", games[col].std())
    print(f"La moda de la columna {col} es", games[col].mode()[0])
    print(f"La mediana de la columna {col} es", games[col].median())
    print(f"El coeficiente de variación de la columna {col} es", (games[col].std() / games[col].mean()))

In [9]:
descripcion("Rating")

La media de la columna Rating es 3.7193462308205465
La desviación con respecto a la media de la columna Rating es:  0       0.780654
1       0.580654
2       0.680654
3       0.480654
4       0.680654
          ...
1507    0.519346
1508    0.819346
1509    0.019346
1510    0.380654
1511    0.919346
Name: Rating, Length: 1512, dtype: float64
La varianza de la columna Rating es 0.2836708673606179
La desviación estándar de la columna Rating es 0.5326076110614811
La moda de la columna Rating es 4.1
La mediana de la columna Rating es 3.8
El coeficiente de variación de la columna Rating es 0.14319925546269444

In [10]:
descripcion("Times Listed")

La media de la columna Times Listed es 4352.79298941799
La desviación con respecto a la media de la columna Times Listed es:  0       34647.207011
1       24647.207011
2       38647.207011
3       30647.207011
4        1352.792989
            ...
1507     4258.792989
1508     4088.792989
1509     4142.792989
1510     4187.792989
1511     4168.792989
Name: Times Listed, Length: 1512, dtype: float64
La varianza de la columna Times Listed es 61362585.79629813
La desviación estándar de la columna Times Listed es 7833.427461609518
La moda de la columna Times Listed es 11000
La mediana de la columna Times Listed es 551.0
El coeficiente de variación de la columna Times Listed es 1.7996324384488873

In [11]:
descripcion("Number of Reviews")

La media de la columna Number of Reviews es 4352.79298941799
La desviación con respecto a la media de la columna Number of Reviews es:  0       34647.207011
1       24647.207011
2       38647.207011
3       30647.207011
4        1352.792989
            ...
1507     4258.792989
1508     4088.792989
1509     4142.792989
1510     4187.792989
1511     4168.792989
Name: Number of Reviews, Length: 1512, dtype: float64
La varianza de la columna Number of Reviews es 61362585.79629813
La desviación estándar de la columna Number of Reviews es 7833.427461609518
La moda de la columna Number of Reviews es 11000
La mediana de la columna Number of Reviews es 551.0
El coeficiente de variación de la columna Number of Reviews es 1.7996324384488873

In [12]:
descripcion("Plays")

La media de la columna Plays es 30211.3167989418
La desviación con respecto a la media de la columna Plays es:  0       13211.316799
1        9211.316799
2         211.316799
3        2211.316799
4        9211.316799
            ...
1507    29448.316799
1508    15211.316799
1509    19211.316799
1510    29942.316799
1511    13211.316799
Name: Plays, Length: 1512, dtype: float64
La varianza de la columna Plays es 691534493.7321335
La desviación estándar de la columna Plays es 26297.043440891477
La moda de la columna Plays es 12000
La mediana de la columna Plays es 21000.0
El coeficiente de variación de la columna Plays es 0.8704368503994693

In [13]:
descripcion("Playing")

La media de la columna Playing es 1035.2367724867725
La desviación con respecto a la media de la columna Playing es:  0       36964.763228
1       30964.763228
2       23964.763228
3         356.236772
4       22964.763228
            ...
1507     1030.236772
1508      986.236772
1509      990.236772
1510      956.236772
1511     1024.236772
Name: Playing, Length: 1512, dtype: float64
La varianza de la columna Playing es 15813763.439599883
La desviación estándar de la columna Playing es 3976.652290507668
La moda de la columna Playing es 11000
La mediana de la columna Playing es 112.5
El coeficiente de variación de la columna Playing es 3.841297369060061

In [14]:
descripcion("Backlogs")

La media de la columna Backlogs es 11244.839285714286
La desviación con respecto a la media de la columna Backlogs es:  0       34755.160714
1       51755.160714
2        6244.839286
3       37755.160714
4       71755.160714
            ...
1507    11021.839286
1508    10831.839286
1509    10757.839286
1510    10856.839286
1511    11005.839286
Name: Backlogs, Length: 1512, dtype: float64
La varianza de la columna Backlogs es 206351112.83517316
La desviación estándar de la columna Backlogs es 14364.926482066421
La moda de la columna Backlogs es 15000
La mediana de la columna Backlogs es 1000.0
El coeficiente de variación de la columna Backlogs es 1.277468367228331

In [15]:
descripcion("Wishlist")

La media de la columna Wishlist es 4866.25462962963
La desviación con respecto a la media de la columna Wishlist es:  0       43133.74537
1       31133.74537
2       21133.74537
3       13133.74537
4       18133.74537
           ...
1507     4799.25463
1508     4759.25463
1509     4660.25463
1510     4264.25463
1511     4793.25463
Name: Wishlist, Length: 1512, dtype: float64
La varianza de la columna Wishlist es 77247433.51354572
La desviación estándar de la columna Wishlist es 8789.051912097557
La moda de la columna Wishlist es 13000
La mediana de la columna Wishlist es 496.0
El coeficiente de variación de la columna Wishlist es 1.8061224866004373

3. Interpretación de los resultados.
- Ahora interpreta los resultados obtenidos de los diferentes estadísticos estudiados haciendo hincapié en aspectos interesantes de tus datos y explica lo mejor posible la naturaleza de los mismos.

4. Guardamos el datasel modificado para conservar los cambios

In [16]:
games.to_csv("data/games.csv")