# **Ejercicios de pair programming Módulo 2 Sprint 1**
## **Pandas: Lección 2**
### **Carga y Guardado de datos**

En este ejercicio de pair programming pondremos en práctica como cargar distintos tipos de archivos en Python usando Pandas.
Al final de la explicación encontrareís una serie de ficheros con distintos formatos.

Los objetivos de este pair programming:

- Id cargando todos los ficheros en vuestro jupyter.
Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

- Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:

        csv
        excel
        json
        pickle

In [2]:
import pandas as pd

In [26]:
df_csv = pd.read_csv("data/quejas.csv", encoding = "ISO-8859-1", sep = ";")
df_csv.head()

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [13]:
df_xlsx = pd.read_excel("data/quejas2.xlsx")
df_xlsx.head(5)

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

In [15]:
df_json = pd.read_json("data/quejas.json")
df_json2 = df_json["data"].apply(pd.Series)
df_json2.head()

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A
2,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-23 00:00:00,N/A
3,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-24 00:00:00,N/A
4,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-29 00:00:00,N/A

In [27]:
df_pickle = pd.read_pickle("data/algas.pickle")
df_pickle.head()

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

In [20]:
df_clipboard = pd.read_clipboard(sep=",")
df_clipboard.head()

   Unnamed: 0  Order ID     Category    Sales  Quantity  Discount
0           0         1     Apparels   16.448         2       0.2
1           1         2  Electronics   65.000        87       0.2
2           2         3    Cosmetics  272.736         3       0.2
3           3         4     Apparels    3.540         2       0.8
4           4         5  Electronics   19.536         3       0.2

In [21]:
df_clipboard.to_csv("data/datos_guardados/clipboard_to_csv.csv")

In [22]:
df_clipboard.to_excel("data/datos_guardados/clipboard_to_excel.xlsx")

In [23]:
df_clipboard.to_json("data/datos_guardados/clipboard_to_json.json")

In [24]:
df_clipboard.to_pickle("data/datos_guardados/clipboard_to_pickle.pickle")