# **Ejercicios de pair programming Módulo 2 Sprint 1**
## **Pandas: Lección 5**
### **Merge-Concat-Join**

In [1]:
import pandas as pd
import numpy as np

En este ejercicio pondremos en práctica los conceptos básicos para juntar varios csv que compartan información.

En pairs anteriores habíamos explorado algunos conjuntos de datos, estos conjuntos de datos eran:

- El csv que creamos en el ejercicio de pair programming Pandas IV, dónde recordamos eliminamos ciertas columnas que no eran necesarias, y habíamos creado nuevas.
- El csv llamado Empleados donde tenemos información sobre los empleados de la empresa, este fichero lo tenéis un poco mas abajo para descargar.
- El csv llamado Puestos donde tenemos información sobre los puestos que hay en la empresa y que departamento pertencen.
- El csv llamado Agentes donde tenemos información sobre los puestos que hay en la empresa y que departamento pertencen.
- El principal objetivo de este ejercicio de pair programming es acabar teniendo un único DataFrame con toda la información contenida en los tres csv anteriores.
- Antes de empezar, deberéis crear una columna nueva en los dataframes de 2016.xlsx, 2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx que contenga los valores del año al que corresponden.
- Para llevar a cabo nuestro objetivo tendréis que seguir los siguientes pasos:

1. Cargad los siete ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir entre vosotras como podríamos juntar toda la información.

In [2]:
puestos = pd.read_excel("data/Puestos.xlsx")
puestos.head()

  ID Puesto                            Puesto Departamento     Tipo Puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

In [3]:

año_2016 = pd.read_csv("data/datos_guardados/2016_procesado2.csv")
año_2016.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2do semestre
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,1er semestre
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,1er semestre
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,1er semestre
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,1er semestre

In [4]:

empleados = pd.read_csv("data/datos_guardados/empleados_procesado.csv", index_col = 0)
empleados.head()

,turno,id_empleado,apellido,nombre,id_puesto,email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [5]:
#pasa lo mismo que en el caso anterior
agentes = pd.read_csv("data/datos_guardados/agentes_procesado.csv", index_col = 0)
agentes.head()

,id_agente,nombre,email,fecha_de_nacimiento
0,1,Mata Lucero,lucero.mata@tractchun.com,1989/4/28
1,2,JesusGrajeda,jesus.grajeda@tractchun.com,1979/1/1
2,3,Elena Velez,elena.velez@tractchun.com,1993/6/6
3,4,Barraza Alberto,alberto.barraza@tractchun.com,1978/10/20
4,5,Willyberto Gonzales,willyberto.gonzales@tractchun.com,1973/5/11

In [6]:
año_2017 = pd.read_excel("data/2017.xlsx")
año_2017.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-8142900901,2017-06-14,1200,29,Software,Problema,0 - Sin Clasificar,0 - Sin Asignar,1,5
1,GDDEST-7342745152,2017-01-10,1855,31,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5
2,GDLEER-0042906431,2017-06-20,233,34,Software,Problema,2 - Normal,0 - Sin Asignar,0,5
3,GDLEER-0042997167,2017-09-19,996,21,Software,Problema,2 - Normal,0 - Sin Asignar,0,5
4,GDLEER-0142746832,2017-01-11,1113,48,Software,Problema,2 - Normal,0 - Sin Asignar,1,5

In [7]:
año_2018 = pd.read_excel("data/2018.xlsx")
año_2018.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-9743106195,2018-01-06,759,21,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDENR-9043229214,2018-05-09,521,2,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5
2,GDDENT-9043303547,2018-07-22,1564,45,Acceso-&Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,1
3,GDDESR-1243421724,2018-11-17,32,27,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5
4,GDDESR-8843106588,2018-01-06,1928,45,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,8,5

In [8]:
año_2019 = pd.read_excel("data/2019.xlsx")
año_2019.head()

,ID Ticket,Fecha,ID Empleado,ID Agente,Categoría,Tipo,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDEER-5743562837,2019-04-07,1833,48,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,5
1,GDDEER-6043685286,2019-08-08,528,32,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,10,5
2,GDDEET-7743705549,2019-08-28,654,45,Hardware,Problema,0 - Sin Clasificar,0 - Sin Asignar,7,1
3,GDDENR-1043755533,2019-10-17,243,15,Acceso99Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5
4,GDDESR-9243800417,2019-12-01,601,34,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,2,5

In [9]:
año_2020 = pd.read_excel("data/2020.xlsx")
año_2020.head()

,ID Ticket,Fecha,Tipo,Categoría,ID Empleado,ID Agente,Severidad,Prioridad,Días Resolución,Satisfacción
0,GDDENR-6044135832,2020-10-31,Problema,Acceso/Login,773,48,0 - Sin Clasificar,0 - Sin Asignar,0,5
1,GDDESR-1444031730,2020-07-19,Problema,Sistema,613,17,0 - Sin Clasificar,0 - Sin Asignar,4,5
2,GDDESR-3244128887,2020-10-24,Problema,Sistema,1508,8,0 - Sin Clasificar,0 - Sin Asignar,2,1
3,GDDESR-4443972026,2020-05-21,Problema,Sistema,1192,20,0 - Sin Clasificar,0 - Sin Asignar,4,5
4,GDDESR-9044014744,2020-07-02,Problema,Sistema,1224,7,0 - Sin Clasificar,0 - Sin Asignar,10,5

In [10]:
año_2016.insert(1, "año", 2016)
año_2017.insert(1, "año", 2017)
año_2018.insert(1, "año", 2018)
año_2019.insert(1, "año", 2019)
año_2020.insert(1, "año", 2020)

2. Chequead que los nombres de las columnas y ver si se llaman iguales entre dataframes. ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sea así homogeneizar los nombres de las columnas para que todos los dataframes tengan el mismo formato.

In [11]:
#reutilizamos la función desarrollada en el pandas III para renombrar las columnas de los df.
def renombrando(df):
    nombres_de_columnas = {col : col.lower().replace(" ", "_") for col in df.columns}
    df.rename(columns = nombres_de_columnas, inplace = True)

In [12]:
renombrando(puestos)
renombrando(año_2017)
renombrando(año_2018)
renombrando(año_2019)
renombrando(año_2020)

3. En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos (2017.xlsx, 2018.xlsx, 2019.xlsx, 2020.xlsx). Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, tendréis que ver si esas columnas están en los dataframes nuevos, si es así eliminarlas. Por lo tanto, realizad los cambios que creáis necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

In [13]:
#vamos a eliminar semestre de 2016, una columna extra. Es lo único que consideramos necesario.

año_2016.drop(["semestre"], axis = 1, inplace=True)

In [14]:
años_2016_2020 = pd.concat([año_2016, año_2017, año_2018, año_2019, año_2020], axis = 0)
años_2016_2020

,id_ticket,año,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
29083,TWRTSR-8543883120,2020,2020-02-22 00:00:00,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0
29084,TWRTSR-8744097039,2020,2020-09-23 00:00:00,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0
29085,TWRTSR-9643846768,2020,2020-01-16 00:00:00,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
29086,TWRTSR-9944138906,2020,2020-11-03 00:00:00,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0
29087,TWRTST-8643986162,2020,2020-06-04 00:00:00,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0

4. Es el momento de unir la información de todos los puestos y los empleados. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.

In [15]:
empleados.head()

,turno,id_empleado,apellido,nombre,id_puesto,email
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com
1,NaN,10,MENDEZ,RICARDO,15-24100,ricardo.mendez@tractchun.com
2,NaN,21,HEREDIA,GUADALUPE,90-14000,guadalupe.heredia@tractchun.com
3,NaN,27,DURAN,DESSENS,15-24100,dessens.duran@tractchun.com
4,NaN,29,LAGUNA,FEDERICO,80-24100,federico.laguna@tractchun.com

In [16]:
puestos.head()

  id_puesto                            puesto departamento     tipo_puesto
0  10-23200           Ingeniero de Materiales   MATERIALES       Operativo
1  10-24111            Operador de Producción   MATERIALES       Operativo
2  10-25120               Auxiliar de compras   MATERIALES  Administrativo
3  10-25130                         Comprador   MATERIALES  Administrativo
4  10-32050  Supervisor General de Materiales   MATERIALES   Mandos Medios

In [17]:
empleados_puestos = empleados.merge(puestos, on = "id_puesto")
empleados_puestos

,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,60,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,B,2,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,NaN,24,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,NaN,98,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
...,...,...,...,...,...,...,...,...,...
1995,NaN,1376,Piedrahita,Gonzalo,10-24111,gonzalo.piedrahita@tractchun.com,Operador de Producción,MATERIALES,Operativo
1996,NaN,44,González,Gonzalo,10-24111,gonzalo.gonzález@tractchun.com,Operador de Producción,MATERIALES,Operativo
1997,NaN,1473,Villa,Gonzalo,10-24111,gonzalo.villa@tractchun.com,Operador de Producción,MATERIALES,Operativo
1998,NaN,694,VELASQUEZ,JESUS,25-25130,jesus.velasquez@tractchun.com,Planeador de Compras,MATERIALES,Administrativo
1999,NaN,1990,JUVERA,ACOSTA,45-15000,acosta.juvera@tractchun.com,Supervisor General de Aseg. de Calidad,INGENIERIA DE CALIDAD,Mandos Medios

In [18]:
empleados_puestos = empleados.merge(puestos, on = "id_puesto", how = "outer")
empleados_puestos.tail(30)

,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
1992,NaN,521.0,OCAÑO,GABRIEL,80-22111,gabriel.ocaño@tractchun.com,Maquinista,MANTENIMIENTO,Operativo
1993,NaN,1340.0,LOPEZ,CLAUDIA,30-60010,claudia.lopez@tractchun.com,Auxiliar de Departamento,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Administrativo
1994,NaN,1474.0,Montoya,Sandra,30-60010,sandra.montoya@tractchun.com,Auxiliar de Departamento,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Administrativo
1995,NaN,1376.0,Piedrahita,Gonzalo,10-24111,gonzalo.piedrahita@tractchun.com,Operador de Producción,MATERIALES,Operativo
1996,NaN,44.0,González,Gonzalo,10-24111,gonzalo.gonzález@tractchun.com,Operador de Producción,MATERIALES,Operativo
1997,NaN,1473.0,Villa,Gonzalo,10-24111,gonzalo.villa@tractchun.com,Operador de Producción,MATERIALES,Operativo
1998,NaN,694.0,VELASQUEZ,JESUS,25-25130,jesus.velasquez@tractchun.com,Planeador de Compras,MATERIALES,Administrativo
1999,NaN,1990.0,JUVERA,ACOSTA,45-15000,acosta.juvera@tractchun.com,Supervisor General de Aseg. de Calidad,INGENIERIA DE CALIDAD,Mandos Medios
2000,NaN,NaN,NaN,NaN,10-32050,NaN,Supervisor General de Materiales,MATERIALES,Mandos Medios
2001,NaN,NaN,NaN,NaN,10-32150,NaN,Controlador de componentes especiales,MATERIALES,Mandos Medios
2002,NaN,NaN,NaN,NaN,15-23810,NaN,Técnico de soporte,PRODUCCION,Operativo
2003,NaN,NaN,NaN,NaN,15-24110,NaN,Jefa de Línea,PRODUCCION,Mandos Medios
2004,NaN,NaN,NaN,NaN,20-31300,NaN,Supervisor de Aduanas,"SISTEMAS, TRAFICO Y ADUANAS",Mandos Medios
2005,NaN,NaN,NaN,NaN,20-31310,NaN,Asistente de Aduanas,"SISTEMAS, TRAFICO Y ADUANAS",Administrativo
2006,NaN,NaN,NaN,NaN,30-13000,NaN,Gerente de Auditoria Metrologia y Control de Doc.,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Gerencia
2007,NaN,NaN,NaN,NaN,30-16100,NaN,Controlador de Documentos,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Mandos Medios
2008,NaN,NaN,NaN,NaN,40-41000,NaN,Auxiliar de tiempos y asistencia,CONTABILIDAD,Administrativo
2009,NaN,NaN,NaN,NaN,40-43000,NaN,Contador General,CONTABILIDAD,Mandos Medios
2010,NaN,NaN,NaN,NaN,40-44000,NaN,Auditor Interno,CONTABILIDAD,Administrativo
2011,NaN,NaN,NaN,NaN,45-17000,NaN,Gerente de Satisfacción al Cliente,INGENIERIA DE CALIDAD,Gerencia
2012,NaN,NaN,NaN,NaN,50-32220,NaN,Supervisor General de Compras,CONTROL DE PRODUCCION,Mandos Medios
2013,NaN,NaN,NaN,NaN,55-15000,NaN,Supervisor General de Aseg. de Calidad,INGENIERIA DE MANUFACTURA,Mandos Medios
2014,NaN,NaN,NaN,NaN,55-23600,NaN,Supervisor de Ingenieria de Manufactura,INGENIERIA DE MANUFACTURA,Mandos Medios
2015,NaN,NaN,NaN,NaN,80-23600,NaN,Supervisor de Ingenieria de Manufactura,MANTENIMIENTO,Mandos Medios
2016,NaN,NaN,NaN,NaN,80-24111,NaN,Operador de Producción,MANTENIMIENTO,Operativo
2017,NaN,NaN,NaN,NaN,80-27000,NaN,Supervisor General de Producción,MANTENIMIENTO,Mandos Medios
2018,NaN,NaN,NaN,NaN,90-14110,NaN,Tecnico de Calidad,INGENIERIA DE CALIDAD,Operativo
2019,NaN,NaN,NaN,NaN,90-18000,NaN,Gerente de Ingenieria de Calidad,INGENIERIA DE CALIDAD,Gerencia
2020,NaN,NaN,NaN,NaN,90-23200,NaN,Ingeniero de Manufactura,INGENIERIA DE CALIDAD,Operativo
2021,NaN,NaN,NaN,NaN,90-26100,NaN,Clerk de Copiado,INGENIERIA DE CALIDAD,Administrativo

5. Guardad los dataframes en dos csv diferentes que usaremos mañana en la clase de pair programming

In [20]:
años_2016_2020.to_csv("data/datos_guardados/años_2016_2020.csv", index = False)
empleados_puestos.to_csv("data/datos_guardados/empleados_puestos.csv", index = False)

📌 NOTA Al final de este pair programing deberéis tener tres ficheros:

- El fichero de la unión de todos los conjuntos de datos de los distintos años
- El fichero con la unión de los datos de puestos y empleados.
- El fichero de los agentes.