# **Ejercicios de pair programming Módulo 2 Sprint 1**
## **Pandas: Lección 1**
### **Dataframes y Series**

---

In [5]:
import numpy as np
import pandas as pd

1. ¿Qué diferencia hay entre una Serie y un DataFrame?

`Una serie consta de una única columna o fila mientras que un DataFrame consta de dos o más.`

2. Momento de trabajar con Series. Contestad a las siguientes preguntas:
- Crea dos listas:
    - Una que se llame "valores" que tenga 7 números aleatorios.
    - Otra que se llame "indices" que tenga 7 strings que se llamen como los días de la semana.

In [6]:
array_valores = np.random.randint(1, 10, (7))
valores = list(array_valores)
valores

[4, 5, 9, 8, 3, 6, 4]

In [7]:
indices = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]

   - A partir de estas dos listas cread una Serie donde la variable "valores" sean los valores de la Serie y la variable indices sean los índices de la Serie.

In [8]:
serie = pd.Series(valores, index = indices)
serie

Lunes        4
Martes       5
Miércoles    9
Jueves       8
Viernes      3
Sábado       6
Domingo      4
dtype: int64

- A partir de las dos listas anteriores cread un diccionario usando un bucle for. Para hacer esto tenemos el método zip que nos permite iterar por dos listas a la vez. Más informción sobre este método aquí.

In [9]:
#Nuestra primera idea ha sido realizar el ejercicio de este modo que es más sencillo pero que no usa el bucle for como se nos pide. Decidimos resolverlo de los dos modos.

diccionario = dict(zip(indices, valores))

diccionario

{'Lunes': 4,
 'Martes': 5,
 'Miércoles': 9,
 'Jueves': 8,
 'Viernes': 3,
 'Sábado': 6,
 'Domingo': 4}

In [10]:
diccionario2 = {}

for x,y in zip(indices, valores):
    diccionario2.update({x:y})

diccionario2

{'Lunes': 4,
 'Martes': 5,
 'Miércoles': 9,
 'Jueves': 8,
 'Viernes': 3,
 'Sábado': 6,
 'Domingo': 4}

- Crea una Serie con el diccionario creado en el punto anterior.

In [11]:
semana = pd.Series(diccionario2)
semana

Lunes        4
Martes       5
Miércoles    9
Jueves       8
Viernes      3
Sábado       6
Domingo      4
dtype: int64

- ¿Qué forma tiene esta última Serie?

In [12]:
semana.shape

(7,)

- ¿Qué tipo de datos tiene?

In [13]:
semana.dtype

dtype('int64')

- ¿Qué tamaño tiene?

In [14]:
semana.size

7

- ¿Cuáles son los índices de la Serie?

In [15]:
semana.index

Index(['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado',
       'Domingo'],
      dtype='object')

- ¿Y los values?

In [16]:
semana.values

array([4, 5, 9, 8, 3, 6, 4])

- Extraed el valor para el índice "lunes".

In [17]:
semana["Lunes"]

4

- Extraed el valor para el índice "lunes", "martes" y "miércoles".

In [18]:
semana["Lunes":"Miércoles"]

Lunes        4
Martes       5
Miércoles    9
dtype: int64

- Extraed el valor para el índice "lunes" y "domingo".

In [19]:
semana[["Lunes", "Domingo"]]

Lunes      4
Domingo    4
dtype: int64

3. Es el turno de los DataFrames:

- Cread un array de dos dimensiones con 4 filas y 3 columnas.

In [20]:
array = np.random.randint(1, 10, (4,3))
array

array([[8, 9, 2],
       [9, 5, 9],
       [8, 8, 2],
       [4, 8, 9]])

- Convertid el array en un DataFrame donde las columnas se llamen "España", "Francia" e "Italia".

In [21]:
dataframe = pd.DataFrame(array, columns = ["España", "Francia", "Italia"])
dataframe

   España  Francia  Italia
0       8        9       2
1       9        5       9
2       8        8       2
3       4        8       9

- Descargad el archivo "medallas" y cargad el DataFrame con la siguiente línea de código:

 ```python
        df = pd.read_csv("medallas.csv", index_col=["País"])
        
📌 NOTA Para evitar problemas guardar el archivo medallas.csv a la misma altura (en la misma carpeta) que el jupyter donde estamos trabajando.

In [22]:
df = pd.read_csv("medallas.csv", index_col=["País"])

In [23]:
df

                 Unnamed: 0   Oro  Plata  Bronce
País
China                     1  1473    994     720
Japón                     2  1032   1037     985
Corea del Sur             3   745    663     827
Irán                      4   179    181     197
Kazajistán                5   155    158     224
India                     6   154    202     315
Tailandia                 7   132    175     278
Indonesia                 8   112    131     240
China Taipéi              9    99    144     276
Corea del Norte          10    91    120     235

- Usando el `loc` extraed todas las columnas de la fila de Tailandia.

In [24]:
df.loc[["Tailandia"], :]

           Unnamed: 0  Oro  Plata  Bronce
País
Tailandia           7  132    175     278

- Usando el `loc` extraed todas las columnas de China e Irán.

In [25]:
df.loc[["China Taipéi", "Irán"], :]

              Unnamed: 0  Oro  Plata  Bronce
País
China Taipéi           9   99    144     276
Irán                   4  179    181     197

- Usando el `loc` extraed solo las columnas de "Oro", "Plata" y "Bronce" de China e Irán.

In [26]:
df.loc[["China Taipéi", "Irán"], "Oro":"Bronce"]

              Oro  Plata  Bronce
País
China Taipéi   99    144     276
Irán          179    181     197

- Usando el `iloc` extraed la información de la India. Devolved todas las columnas.

In [27]:
df

                 Unnamed: 0   Oro  Plata  Bronce
País
China                     1  1473    994     720
Japón                     2  1032   1037     985
Corea del Sur             3   745    663     827
Irán                      4   179    181     197
Kazajistán                5   155    158     224
India                     6   154    202     315
Tailandia                 7   132    175     278
Indonesia                 8   112    131     240
China Taipéi              9    99    144     276
Corea del Norte          10    91    120     235

In [28]:
df.iloc[[5], :]

       Unnamed: 0  Oro  Plata  Bronce
País
India           6  154    202     315

- Usando el `iloc` extraed todas las columnas de los paises que estén en posición impar. La primera que nos tendría que salir es Japón y la última Corea del Norte.

In [29]:
df.iloc[1::2]

                 Unnamed: 0   Oro  Plata  Bronce
País
Japón                     2  1032   1037     985
Irán                      4   179    181     197
India                     6   154    202     315
Indonesia                 8   112    131     240
Corea del Norte          10    91    120     235

- Utilizando el código del ejercicio anterior, seleccionad unicamente las columnas "Oro", "Plata" y "Bronce".

In [30]:
df.iloc[1::2, 1:]

                  Oro  Plata  Bronce
País
Japón            1032   1037     985
Irán              179    181     197
India             154    202     315
Indonesia         112    131     240
Corea del Norte    91    120     235

- Contestad a las siguientes preguntas:
    - ¿Qué país consiguió más de 200 medallas de oro?
    - ¿Qué país consiguió más de 200 medallas de oro y más de 1000 de plata?
    - ¿Qué país consiguió más de 200 medallas de oro o más de 700 de bronce?

In [31]:
df.iloc[(list(df["Oro"] > 200)), [1]]

                Oro
País
China          1473
Japón          1032
Corea del Sur   745

- Como vemos hay una columna que se llama `Unnamed: 0` que no nos interesa. Eliminad esa columna.

In [36]:
df.drop(columns = [0])
#Preguntar por qué no nos ha funcionado esto

KeyError: '[0] not found in axis'

In [33]:
df.drop(columns=['Unnamed: 0'])

                  Oro  Plata  Bronce
País
China            1473    994     720
Japón            1032   1037     985
Corea del Sur     745    663     827
Irán              179    181     197
Kazajistán        155    158     224
India             154    202     315
Tailandia         132    175     278
Indonesia         112    131     240
China Taipéi       99    144     276
Corea del Norte    91    120     235

- Cread una nueva columma que se llame "total" que sea el resultado de la suma de todas las medallas obtenidas por cada país.

Unnamed: 0    int64
Oro           int64
Plata         int64
Bronce        int64
dtype: object

In [40]:
df.assign(total = df['Oro'] + ['Plata'] + ['Bronce'])

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U5')) -> None