# **Ejercicios de pair programming Módulo 2 Sprint 1**
## **Pandas: Lección 6**
### **Groupby**

Antes de empezar deberemos cargar los 2 creados en el pair programming anterior de Pandas (el de histórico de tikects que habíamos creado y el de la unión de empleados y puestos).

In [1]:
import pandas as pd

In [5]:
años_2016_2020 = pd.read_csv("data/datos_guardados/años_2016_2020.csv")
años_2016_2020

,id_ticket,año,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción
0,GDDENR-5042564453,2016,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
1,GDDENR-8042508060,2016,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0
2,GDDESR-1342539995,2016,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0
3,GDDTSR-5942488006,2016,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0
4,GDLEER-0042524120,2016,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
97381,TWRTSR-8543883120,2020,2020-02-22 00:00:00,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0
97382,TWRTSR-8744097039,2020,2020-09-23 00:00:00,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0
97383,TWRTSR-9643846768,2020,2020-01-16 00:00:00,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0
97384,TWRTSR-9944138906,2020,2020-11-03 00:00:00,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0
97385,TWRTST-8643986162,2020,2020-06-04 00:00:00,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0

In [6]:
empleados_puestos = pd.read_csv("data/datos_guardados/empleados_puestos.csv")
empleados_puestos

,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,A,6.0,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,60.0,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,B,2.0,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,NaN,24.0,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,NaN,98.0,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
...,...,...,...,...,...,...,...,...,...
2017,NaN,NaN,NaN,NaN,80-27000,NaN,Supervisor General de Producción,MANTENIMIENTO,Mandos Medios
2018,NaN,NaN,NaN,NaN,90-14110,NaN,Tecnico de Calidad,INGENIERIA DE CALIDAD,Operativo
2019,NaN,NaN,NaN,NaN,90-18000,NaN,Gerente de Ingenieria de Calidad,INGENIERIA DE CALIDAD,Gerencia
2020,NaN,NaN,NaN,NaN,90-23200,NaN,Ingeniero de Manufactura,INGENIERIA DE CALIDAD,Operativo
2021,NaN,NaN,NaN,NaN,90-26100,NaN,Clerk de Copiado,INGENIERIA DE CALIDAD,Administrativo

El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

1. En pairs anteriores hemos ido pudiendo sacar algunas conclusiones y contestando las preguntas que nos hacían las jefas. Desde la dirección se están planteando cambiar el sistema de asignación de las solicitudes que llegan. En concreto, necesitan saber que categoría es la que recibe más tickets para poder asignar más empleados a esa categoría. Por esto nos piden que averiguemos qué categoría es la que tiene más tickets. Además nos piden que devolvamos esta consulta en un DataFrame.

    📌 NOTA Ordena los resultados de mayor a menor. Esto todavía no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aquí tenéis una explicación de cómo hacerlo.

In [23]:
numero_tickets = años_2016_2020.groupby("categoría").count().reset_index()
numero_tickets

,categoría,id_ticket,año,fecha,id_empleado,id_agente,tipo,severidad,prioridad,días_resolución,satisfacción
0,Acceso%&Login,4526,4526,4526,4526,4526,4526,4526,4526,4526,4526
1,Acceso&%Login,3882,3882,3882,3882,3882,3882,3882,3882,3882,3882
2,Acceso-&Login,5672,5672,5672,5672,5672,5672,5672,5672,5672,5672
3,Acceso/Login,8659,8659,8659,8659,8659,8659,8659,8659,8659,8659
4,Acceso99Login,6426,6426,6426,6426,6426,6426,6426,6426,6426,6426
5,Hardware,9717,9717,9717,9717,9717,9717,9717,9717,9717,9717
6,Sistema,38961,38961,38961,38961,38961,38961,38961,38961,38961,38961
7,Software,19543,19543,19543,19543,19543,19543,19543,19543,19543,19543

In [26]:
numero_tickets.sort_values(by=["id_ticket"], inplace=True, ascending = False)
numero_tickets

,categoría,id_ticket,año,fecha,id_empleado,id_agente,tipo,severidad,prioridad,días_resolución,satisfacción
6,Sistema,38961,38961,38961,38961,38961,38961,38961,38961,38961,38961
7,Software,19543,19543,19543,19543,19543,19543,19543,19543,19543,19543
5,Hardware,9717,9717,9717,9717,9717,9717,9717,9717,9717,9717
3,Acceso/Login,8659,8659,8659,8659,8659,8659,8659,8659,8659,8659
4,Acceso99Login,6426,6426,6426,6426,6426,6426,6426,6426,6426,6426
2,Acceso-&Login,5672,5672,5672,5672,5672,5672,5672,5672,5672,5672
0,Acceso%&Login,4526,4526,4526,4526,4526,4526,4526,4526,4526,4526
1,Acceso&%Login,3882,3882,3882,3882,3882,3882,3882,3882,3882,3882

2. Desde la dirección quieren seguir evaluando la situación planteada en el ejercicio anterior. Pero ahora quieres saber cual es la media de la satisfacción por categoría. En concreto quieren saber si independientemente de la categoría los clientes salgan satisfechos, para que en caso de que no sea así poder identificar un posible problema subyacente. Por lo tanto, nos piden que calculemos la media de satisfacción por cada una de las categorías que tenemos en el dataframe.

In [41]:
media_satisfaccion = años_2016_2020.groupby("categoría")["satisfacción"].mean().reset_index()
media_satisfaccion

       categoría  satisfacción
0  Acceso%&Login      4.059876
1  Acceso&%Login      3.957239
2  Acceso-&Login      4.087447
3   Acceso/Login      4.172075
4  Acceso99Login      4.105198
5       Hardware      4.101575
6        Sistema      4.102487
7       Software      4.106841

3. Quieren mejorar la consulta anterior y ahora nos piden que además de la media les devolvamos la desviación estándar de la satisfacción.

In [40]:
std_satisfaccion = años_2016_2020.groupby("categoría")["satisfacción"].std().reset_index()
std_satisfaccion

       categoría  satisfacción
0  Acceso%&Login      1.292629
1  Acceso&%Login      1.341939
2  Acceso-&Login      1.272903
3   Acceso/Login      1.197885
4  Acceso99Login      1.256943
5       Hardware      1.262433
6        Sistema      1.253473
7       Software      1.254424

4. En nuestros datos, además hemos visto que no solo tenemos categorías, y que las diferencias entre ellas no son especialmente significativas. Revisando los datos de nuevo, desde dirección saben que hay dos tipos de tickets (Problema y Solicitud), basándonos en esto, ¿hay diferencias en la satisfacción basándonos en la categoría y el tipo de tickets?

In [39]:
satis_categ_tipo = años_2016_2020.groupby(["categoría", "tipo"])["satisfacción"].agg(["mean", "std"]).reset_index()
satis_categ_tipo
#No hay diferencias significativas en la satisfacción por tipo de tickets y categoría

        categoría       tipo      mean       std
0   Acceso%&Login   Problema  3.992799  1.339605
1   Acceso%&Login  Solicitud  4.081698  1.276415
2   Acceso&%Login   Problema  3.989940  1.350059
3   Acceso&%Login  Solicitud  3.945983  1.339182
4   Acceso-&Login   Problema  4.045079  1.286510
5   Acceso-&Login  Solicitud  4.100438  1.268568
6    Acceso/Login   Problema  4.228160  1.169298
7    Acceso/Login  Solicitud  4.153527  1.206705
8   Acceso99Login   Problema  4.090354  1.249710
9   Acceso99Login  Solicitud  4.110276  1.259497
10       Hardware   Problema  4.090640  1.276350
11       Hardware  Solicitud  4.105084  1.258001
12        Sistema   Problema  4.098809  1.258599
13        Sistema  Solicitud  4.103713  1.251780
14       Software   Problema  4.111472  1.247402
15       Software  Solicitud  4.105281  1.256820

5. A pesar de que sabemos que tenemos muchos empleados y varios departamentos, nuestras jefas no saben cuántas personas hay en cada uno de estos departamentos. Por esto, nos piden que calculemos el número de empleados que tenemos por departamento. Devolved estos resultados en un dataframe. Ordenadad los resultados de mayor a menor basándonos en la cantidad de empleados que tenemos.

In [32]:
numero_empleados = empleados_puestos.groupby("departamento").count().reset_index()
numero_empleados

,departamento,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,tipo_puesto
0,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",0,70,70,70,72,70,72,72
1,CONTABILIDAD,1,25,25,25,28,25,28,28
2,CONTROL DE PRODUCCION,3,127,127,127,128,127,128,128
3,INGENIERIA DE CALIDAD,1,395,395,395,400,395,400,400
4,INGENIERIA DE MANUFACTURA,1,228,228,228,230,228,230,230
5,MANTENIMIENTO,1,258,258,258,261,258,261,261
6,MATERIALES,0,125,125,125,127,125,127,127
7,PERSONAL,0,20,20,20,20,20,20,20
8,PRODUCCION,1,475,475,475,477,475,477,477
9,Recursos Humanos,0,117,117,117,117,117,117,117
10,"SISTEMAS, TRAFICO Y ADUANAS",0,160,160,160,162,160,162,162

In [33]:
numero_empleados.sort_values(by=["id_empleado"], inplace=True, ascending = False)
numero_empleados

,departamento,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,tipo_puesto
8,PRODUCCION,1,475,475,475,477,475,477,477
3,INGENIERIA DE CALIDAD,1,395,395,395,400,395,400,400
5,MANTENIMIENTO,1,258,258,258,261,258,261,261
4,INGENIERIA DE MANUFACTURA,1,228,228,228,230,228,230,230
10,"SISTEMAS, TRAFICO Y ADUANAS",0,160,160,160,162,160,162,162
2,CONTROL DE PRODUCCION,3,127,127,127,128,127,128,128
6,MATERIALES,0,125,125,125,127,125,127,127
9,Recursos Humanos,0,117,117,117,117,117,117,117
0,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",0,70,70,70,72,70,72,72
1,CONTABILIDAD,1,25,25,25,28,25,28,28
7,PERSONAL,0,20,20,20,20,20,20,20

6. BONUS Quieren saber que departamentos son los que tienen de media un indice de satisfacción. 💡Pista Para responder a esta pregunta tendremos que unir los dataframes con métodos aprendidos en lecciones anteriores de Pandas.

In [35]:
union = años_2016_2020.merge(empleados_puestos)
union

,id_ticket,año,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,turno,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,GDDENR-5042564453,2016,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
1,GWLESR-6142530250,2016,2016-06-09,1735.0,32.0,Sistema,Problema,2 - Normal,1 - Baja,11.0,5.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
2,KDLTSR-9842504751,2016,2016-05-14,1735.0,27.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,8.0,3.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
3,KMLTSR-6042483650,2016,2016-04-23,1735.0,26.0,Sistema,Solicitud,2 - Normal,2 - Media,10.0,4.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
4,GDLTNR-0043045356,2017,2017-11-06 00:00:00,1735.0,23.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,5.0,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,Almacenista,MATERIALES,Administrativo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97381,SHLESR-1843887006,2020,2020-02-26 00:00:00,1600.0,50.0,Sistema,Problema,2 - Normal,3 - Alta,8.0,5.0,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
97382,SHLTER-3343967301,2020,2020-05-16 00:00:00,1600.0,33.0,Software,Solicitud,2 - Normal,3 - Alta,3.0,5.0,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
97383,THLTER-4443871706,2020,2020-02-10 00:00:00,1600.0,37.0,Software,Solicitud,2 - Normal,3 - Alta,4.0,4.0,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
97384,THLTNR-3043865404,2020,2020-02-04 00:00:00,1600.0,14.0,Acceso/Login,Solicitud,2 - Normal,3 - Alta,0.0,4.0,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
97385,THLTSR-9443961803,2020,2020-05-10 00:00:00,1600.0,28.0,Sistema,Solicitud,2 - Normal,3 - Alta,6.0,5.0,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios

In [38]:
satis_dep = union.groupby("departamento")["satisfacción"].mean().reset_index()
satis_dep

                                   departamento  satisfacción
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA      4.075758
1                                  CONTABILIDAD      4.051628
2                         CONTROL DE PRODUCCION      4.086079
3                         INGENIERIA DE CALIDAD      4.109565
4                     INGENIERIA DE MANUFACTURA      4.095311
5                                 MANTENIMIENTO      4.087091
6                                    MATERIALES      4.126486
7                                      PERSONAL      4.096349
8                                    PRODUCCION      4.102209
9                              Recursos Humanos      4.122085
10                  SISTEMAS, TRAFICO Y ADUANAS      4.102866

7. BONUS Por último, quieres conocer los 5 empleados que tienen mayor valor en la satisfacción y los 5 empleados que tienen un menor valor de satisfacción. Todo esto respecto a la media. En este caso, conseguiremos una dataframe, donde tengamos el el id del empleado y su satisfacción, pero no sabemos su nombre y appelidos. ¿Se os ocurre como conseguir la información del nombre del empleado?

In [44]:
media_empleados = union.groupby("id_empleado")["satisfacción"].mean().reset_index()
media_empleados

      id_empleado  satisfacción
0             1.0      3.951220
1             2.0      4.224490
2             3.0      4.106383
3             4.0      4.090909
4             5.0      4.000000
...           ...           ...
1995       1996.0      4.266667
1996       1997.0      4.211538
1997       1998.0      4.304348
1998       1999.0      3.575000
1999       2000.0      4.058824

[2000 rows x 2 columns]

In [52]:
media_empleados.sort_values(by="satisfacción", inplace=True, ascending = False)
media_empleados

      id_empleado  satisfacción
621         622.0      4.744681
858         859.0      4.666667
745         746.0      4.641026
1942       1943.0      4.589286
1835       1836.0      4.586957
...           ...           ...
1998       1999.0      3.575000
1824       1825.0      3.571429
1724       1725.0      3.567568
1365       1366.0      3.545455
838         839.0      3.488372

[2000 rows x 2 columns]

In [54]:
nombres_empleados = media_empleados.merge(empleados_puestos)
nombres_empleados
#En este DataFrame se ven los cinco empleados con los índices de satisfacción más bajos en las cinco primeras filas y los cinco empleados 
# con los índices de satisfacción más altos en las cinco últimas filas. Todos con sus datos completos.

,id_empleado,satisfacción,turno,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,839.0,3.488372,NaN,RUIZ,IVONNE,80-22200,ivonne.ruiz@tractchun.com,Supervisor General de Mantenimiento,MANTENIMIENTO,Mandos Medios
1,1366.0,3.545455,NaN,CALDERON,IBARRA,15-24100,ibarra.calderon@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
2,1725.0,3.567568,NaN,CASTILLO,MARIA,30-13300,maria.castillo@tractchun.com,Ingeniero de Calibracion y Metrologia,"AUDITORIA INTERNA, CALIBRACION Y METROLOGIA",Operativo
3,1825.0,3.571429,NaN,Gonzalez,Elena,50-33100,elena.gonzalez@tractchun.com,Supervisor de Control de Producción,CONTROL DE PRODUCCION,Mandos Medios
4,1999.0,3.575000,NaN,GOMEZ,NORA,80-22620,nora.gomez@tractchun.com,Encargado de Tool Crib,MANTENIMIENTO,Operativo
...,...,...,...,...,...,...,...,...,...,...
1995,1836.0,4.586957,NaN,FIMBRES,ANTONIO,70-21120,antonio.fimbres@tractchun.com,Auxiliar de Recursos Humanos,Recursos Humanos,Administrativo
1996,1943.0,4.589286,NaN,OCHOA,VALENZUELA,15-24100,valenzuela.ochoa@tractchun.com,Supervisor de Producción,PRODUCCION,Mandos Medios
1997,746.0,4.641026,NaN,COTA,ROSA,55-23200,rosa.cota@tractchun.com,Ingeniero de Manufactura,INGENIERIA DE MANUFACTURA,Operativo
1998,859.0,4.666667,NaN,RODRIGUEZ,ADOLFO,50-25130,adolfo.rodriguez@tractchun.com,Comprador,CONTROL DE PRODUCCION,Administrativo
1999,622.0,4.744681,NaN,MONJARAS,EDUARDO,10-32110,eduardo.monjaras@tractchun.com,Almacenista,MATERIALES,Administrativo